<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.javaWebApplication.Model.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.javaWebapplicationController.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>signin</servlet-name>
  	<display-name>signin</display-name>
  	<description></description>
  	<servlet-class>com.javaWebapplicationController.signin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>authenticate</servlet-name>
  	<display-name>authenticate</display-name>
  	<description></description>
  	<servlet-class>com.javaWebapplicationController.authenticate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlet</servlet-name>
  	<display-name>EditServlet</display-name>
  	<description></description>
  	<servlet-class>com.javaWebapplicationController.EditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.javaWebapplicationController.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet2</servlet-name>
  	<display-name>UpdateServlet2</display-name>
  	<description></description>
  	<servlet-class>com.javaWebapplicationController.UpdateServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.javaWebapplicationController.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>com.javaWebapplicationController.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>signin</servlet-name>
  	<url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>authenticate</servlet-name>
  	<url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet2</servlet-name>
  	<url-pattern>/UpdateServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
</web-app>
