@charset "ISO-8859-1";
body h4
{
	font-size: 22px;
	font-weight: bold;
}
.container
{
	height: auto;
}
span
{
	color:teal;
	font-weight:bold;
}
.form-group
{
	margin-top: 30px;
}
#MySignUpForm
{
	padding:40px;
	margin-top:30px;
	margin-bottom:30px;
	border:1px solid gray;
	box-shadow:0px 0px 20px gray;
}
i.fa,i.fas
{
	color:#000000;
	text-shadow:0px 0px 2px orange;
}
.form-group small
{
	color: red;
	font-size: 14px;
}
#checkerror
{
	color: red;
}
#multiplefile
{
	margin-top: 30px;
}
/*  #DispImage ,#result
{
	margin-top: 30px;
	width: 500px;
	height: 250px;
} */
#FUimage
{
	margin-top: 10px;
}
#error
{
	color: red;
}
body {
  margin: 2rem;
}
/* th { */
/*   background-color: white; */
/* } */
/* tr:nth-child(odd) { */
/*   background-color: white; */
/* } */
/* th, td { */
/*   padding: 0.5rem; */
/* } */
/* td:hover { */
/*   background-color: lightsalmon; */
/* } */
.paginate_button {
  border-radius: 0 !important;
}